<h2><%= @map.title %></h2>
<%= @map.description %>
<br />

<h2><%= @map.comments.count %> Comments </h2>
<%= render @map.comments %>

<h3><%= 'Add a comment'%></h3>
<%= render 'comments/form' %>

<br />

<%= link_to 'Back', root_path %>