<%= link_to 'Create New', new_post_path %>
<br />
<h1><%= @post.title %></h1>
<%= @post.body %>
<br />
<%= link_to 'Back', root_path %>

<br />
<p>
<%= @post.body %>
</p>

<h2> <% @post.comments.count %> comments </h2>
<%= render @post.comments %>

<h3> Add a comment </h3>
<%= render 'comments/form' %>
<%= link_to 'Back', root_path %>